@font-face {
    font-family: 'alegreya';
    src: url('./fonts/alegreyasanssc-black-webfont.woff2') format('woff2'),
         url('./fonts/alegreyasanssc-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
 height: 100%;
}

body {
    font: 16px / 1.42 'Roboto', Arial, sans-serif;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fcf5e6;
}

.wrapper {
    overflow: hidden;
    min-width: 1440px;
}

ul {
    margin: 0;
    padding: 0;
}

ul > li {
    list-style: none;
}

.hero {
  margin-bottom: 88px;
}

.header {
  background: url(./kartinki/bg/hero.jpg) center center / cover no-repeat;
  height: 181px;
}

.korobka {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 181px;
}

.mail {
    text-decoration: none;
    text-align: center;
    color: inherit;
}

.mail__zagolovok {
margin-bottom: 3px;
}

.mail__kontent {
    background: #212121;
    color: #ffbc2f;
    padding: 10px 43px; 
}

.shapka-text {
    font-family: 'alegreya', Arial, sans-serif;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.shapka-text__word {
    background: #212121;
    padding: 0 6px;
}

.shapka-text__word--color-yellow {
    color: #ffbc2f;
}

.shapka-text__word:nth-child(2) {
    margin-left: 8px;
}

.shapka-text__word:nth-child(4) {
    margin-left: 8px;
}

.chuvaki__item {
    height: 100%;
    width: 450px;
    background: url(./kartinki/decor/header-guys.png) center center / cover no-repeat;
    background-position: top -20px left 0;
    margin-left: 50px;
}

.predmet-two {
    height: 100%;
    margin-top: 35px;
    transform: translateX(-10%);
}

.container {
    margin: 0 auto;
    width: auto;
}

.print {
    width: 1101px;
    height: 667px;
    background-color: #ffc92f;
    margin-bottom: 95px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.futbolki {
    transform: translateX(30px);
}

.futbolki__item {
    display: none;
}

.futbolki__item--show{
    display: block;
}

.dannie {
    width: 555px;
    height: 645px;
    background: #fcf5e6;
    margin-left: 30px;
}

.dannie-one {
    width: 555px;
    height: 177px;
    background: #fcf5e6;
    display: flex;
    align-items: center;
}

.spisok__item {
    margin-left: 20px;
}

.hurley {
    color: #fcba2e;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.randm {
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-size: 37px;
    font-weight: bold;
}

.price {
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    background-color: #ffc92f;
    padding: 7px 12px;
}

.line{ 
    background-color: #e0d9c8;
    height: 2px;
    max-width: 555px;
    width: 555px;
}

.dannie-two {
    width: 555px;
    height: 229px;
    background: #fcf5e6;
    display: flex;
    align-items: center;
}

.spisok-two__item {
    margin-left: 20px;
    padding-bottom: 5px;
}

.tupatext {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
}

.dannie-three {
    width: 555px;
    height: 233px;
    background: #fcf5e6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spisok-three__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.razmer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.razmer__item {
    width: 50px;
    height: 50px;
    border: 1px solid #e2dbca;
    margin-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.razmer__item-noclick {
    pointer-events: none;
}

.razmer__item--active {
    background: #ffc92f;
}

.sold {
    color: gray;
    text-decoration: none;
}

.prod {
    color: #212121;
    text-decoration: none;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dots__item {
    margin-right: 20px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dots__item--active {
    border-radius: 20px;
    border: 3px solid yellow;
}

.dot-one {
    height: 25px;
    width: 25px;
    background-color: #2f2c25;
    border-radius: 50%;
    display: inline-block;
}

.dot-two {
    height: 24px;
    width: 24px;
    background-color: #fcf5e6;
    border: 1px solid gray;
    border-radius: 50%;
    display: inline-block;
}

.dot-three {
    height: 25px;
    width: 25px;
    background-color: #529029;
    border-radius: 50%;
    display: inline-block;
}

.dot-four {
    height: 25px;
    width: 25px;
    background-color: #39498d;
    border-radius: 50%;
    display: inline-block;
}

.dot-five {
    height: 25px;
    width: 25px;
    background-color: #d82727;
    border-radius: 50%;
    display: inline-block;
}


.buy {
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-weight: bold;
    background: #212121;
    color: #fcf5e6;
    padding: 10px 70px;
    text-decoration: none;
}

.buy:hover {
    background: #d82727;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter__item {
    margin-right: 40px;
    margin-bottom: 69px;
}

.filter__item:last-child {
    margin-right: 0;
}

.filter__link {
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    text-transform: uppercase;
    padding: 3px 21px;
    color: #1b1b1b;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.filter__link:hover {
    color: #d82727;
}

.filter__item--active .filter__link {
    color: #ffc92f;
    background: #1b1b1b;
}

.combo__item {
    display: none;
}

.combo__item--show {
    display: block;
}

.rules {
    width: 1101px;
    height: 302px;
    background-color: #ffc92f;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-bottom: 81px;
}

.pravila {
    width: 1080px;
    height: 280px;
    background: #fcf5e6;
    margin-left: auto;
    margin-right: auto;
}

.opisanie {
    width: 625px;
    height: 230px;
    transform: translateX(450px) translateY(-254px);
}

.opisanie-text {
    font-size: 13px;
    font-family: 'Roboto', Arial, sans-serif;
}

.washing {
    width: 430px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wash__item {
   padding-bottom: 20px;
   padding-left: 35px;
   display: flex;
   align-items: center;
}

.wash__item:last-child {
    padding-bottom: 0px;
}

.wash__icon {
    width: 26px;
    height: 26px;
}

.wash__text {
    padding-left: 35px;
}

.line-wash {
    background-color: #e0d9c8;
    width: 2px;
    height: 280px;
}

.tabless {
    width: 1101px;
    height: 455px;
    background-color: #ffc92f;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tablica {
    width: 1080px;
    height: 435px;
    background: #fcf5e6;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

table {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
}

th, td {
    padding: 13.8px 20px;
}

td, th {
    border-style: solid;
    border-width: 2px 2px;
    border-color: #e0d9c8;
}

.dvaprikola {
    width: 310px;
    height: 435px;
}

.futzero {
    width: 230px;
    height: 203px;
    transform: translateX(50px) translateY(40px);
}

.vazhno {
    width: 260px;
    height: 140px;
    background: crimson;
}

.izmerenie {
    transform: translateX(55px) translateY(80px);
}
.izmerenie-text {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
}

.uslovia {
    width: 1101px;
    height: 260px;
    background-color: #ffc92f;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dostavki {
    width: 1080px;
    height: 240px;
    background: #fcf5e6;
}

.brand {
    width: 1101px;
    height: 260px;
    background-color: #ffc92f;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.obrande {
    width: 1080px;
    height: 240px;
    background: #fcf5e6;
}

.rocket {
    width: 400px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.express {
    width: 180px;
    height: 164px;
    transform: translateX(25px);
}

.line-express {
    background-color: #e0d9c8;
    width: 2px;
    height: 240px;
}

.hurley {
    width: 400px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.harly {
    width: 225px;
    height: 54px;
    background: #fcf5e6;
    transform: translateX(30px) translateY(-40px);
}

.biznes {
    width: 600px;
    height: 200px;
    transform: translateX(410px) translateY(-210px);
}

.biznes-text {
    font-size: 13px;
    font-family: 'Roboto', Arial, sans-serif;
}

.line-brand {
    background-color: #e0d9c8;
    width: 2px;
    height: 240px
}

.dostavka {
    width: 600px;
    height: 200px;
    transform: translateX(410px) translateY(-195px);
}

.dostavka-text {
    font-size: 13px;
    font-family: 'Roboto', Arial, sans-serif;
}

.footer {
    margin-bottom: 115px;
}

.footer__container {
    width: 1105px;
}

.site-menu {
    margin-bottom: 115px;
}

.site-menu__sections {
    display: flex;
    justify-content: space-between;
}

.site-menu__colonka {
    margin-right: 20px;
}

.site-menu__colonka:last-child {
    margin-right: 0px;
}

.site-menu__title {
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #1b1b1b;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.site-menu__item {
    margin-bottom: 15px;
}

.site-menu__link {
    color: #737373;
    font-size: 15px;
    text-decoration: none;
}

.site-menu__link:hover {
    color: #d82727;
}

.site-menu__text {
    font-size: 15px;
    color: #1b1b1b;
    margin-bottom: 30px;
}

.site-menu__text-row {
    color: inherit;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.extras {
    display: flex;
    margin-bottom: 95px;
}

.extras__colonka {
    margin-right: 20px;
    flex: 1;
}

.extras__colonka:last-child {
    margin-right: 0;
}

.extras__best {
    text-align: center;
    color: #fff;
    background: #232323;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    text-transform: uppercase;
    padding: 39px 10%;
    display: block;
    text-decoration: none;
    line-height: 1;
}

.extras__colonka-soc {
    height: 100%;
    background: url('./kartinki/bg/pattern.png') center center / 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.soc {
    display: flex;
}

.soc__item {
    margin-right: 50px;
}

.soc__item:last-child {
    margin-right: 0px;
}

.soc__link {
    width: 38px;
    height: 38px;
    display: block;
}

.soc__link:hover .soc__icon {
    fill: #d82727;
}

.soc__icon {
    width: 100%;
    height: 100%;
}